* {
  margin: 0;
  padding: 0;
box-sizing: border-box;

}

 html,body {
  height: 100%;
  width: 100%;
}

.helper-container{
    /* border: 1px solid red; */
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.helper-container h1{
    /* background: rebeccapurple; */
    text-align: center;
    font-size: x-large;
    /* line-height: 0; */
}
.helper-container h1 span{
   display: inline-block;
   height: 2em;  
   transform: translateY(30%);
   z-index: -1;
}
.helper-container h1 img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}