
.helper-container{
 
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.helper-container h1{
    text-align: center;
    font-size: x-large;
    
}
.helper-container h1 span{
   display: inline-block;
   height: 2em;  
   transform: translateY(30%);
   z-index: -1;
}
.helper-container h1 img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}