@font-face {
    font-family: mazius;
    src: url("../../../Mazius-Extraitalic.121a71a7.otf");
}
@font-face {
    font-family: gilroy-medium;
    src: url("../../../Gilroy-Medium.e7e7c091.ttf");
}
@font-face {
    font-family: gilroy-semi;
    src: url("../../../Gilroy-SemiBold.f3ed44cd.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy-medium;
  user-select: none;
  font-weight: 100;
  letter-spacing: 0.1px;
}

 html,body {
  height: 100%;
  width: 100%;
  background-color: #123;

}

.loader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    background-color:white;
    z-index: 100;
   
}

.main{
  height: 100vh;
  width: 100%;
}

.topbar{
    height: 50px;
    background-color: #123;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    box-shadow: 2px 2px 8px black;
    color: white;
}

.hamburger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    
}

.profile-logo{
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 100%;
    border: 2px solid white;
}
.bar{
    background-color: white;
    height: 3px;
    width: 30px;
    border-radius: 20px;
}
  
.home-main{
    height: calc(100vh - 50px);

}

.home-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}


.screen{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: right;
   
}
.screen::-webkit-scrollbar {
    width: 4px; 
    border-radius: 20px;
  }

.screen::-webkit-scrollbar-thumb{
    background-color: rebeccapurple;
    border-radius: 20px;
}
.dynamic{ 
    width: calc(100% - 18em);
    /* width: 100%; */
    flex-shrink: 100;
}

@media (max-width:700px) {
    .dynamic{
    
        width: 100%;
        height: 100%;
    }
    
}

@media (max-width:800px) {
    .dynamic{
    
        width: 95%;
        height: 100%;
    }
    
}