@font-face {
  font-family: mazius;
  src: url("../../../Mazius-Extraitalic.121a71a7.otf");
}
@font-face {
  font-family: gilroy-medium;
  src: url("../../../Gilroy-Medium.e7e7c091.ttf");
}
@font-face {
  font-family: gilroy-semi;
  src: url("../../../Gilroy-SemiBold.f3ed44cd.ttf");
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy-medium;
user-select: none;
font-weight: 100;
letter-spacing: 0.1px;
}

html,body {
height: 100%;
width: 100%;
background-color: #123;

}


.signUpBox, .signInBox{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 4vw;
  flex-direction: column;
  gap: 2vw;
}
.signUpForm , .signInForm{
  width: fit-content;
  box-shadow: 10px 20px 80px black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  flex-direction: column;
  gap: 2vh;
  border-radius: 10px;
  
}
.signUpInputs, .signInInputs{
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #123;
  box-shadow: 2px 2px 8px black;
  width: 20em;
}

.signUpForm button, .signInForm button{
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: #123;
  box-shadow: 2px 2px 8px black;
  color: white;
}

.signUpForm button:hover{
  cursor: pointer;
  background:rgb(20, 54, 88);
}
 .signInForm button:hover{
  cursor: pointer;
  background:rgb(20, 54, 88);
}


.signUpBox .bottom-area , .signInBox .top-area{
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1em;
}

.bottom-area button,.top-area button{
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #123;
  box-shadow: 2px 2px 8px black;
  color: white;
}

.bottom-area button:hover{
  cursor: pointer;
  background:rgb(20, 54, 88);
}

.top-area button:hover{
  cursor: pointer;
  background:rgb(20, 54, 88);
}